/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
/* base */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

body {
    font-family: 'Poppins', sans-serif;
    color: hsl(252, 30%, 17%);
    background: hsl(252, 30%, 95%);
    overflow-x: hidden;
}

/* general style */
.container {
    width: 80%;
    margin: 0 auto;
}

.profile-photo {
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

img {
    display: block;
    width: 100%;
}

.btn {
    display: inline-block;
    padding:  0.6rem 2rem;
    font-weight: 500;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: .9rem;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background: hsl(252, 75%, 60%);
    color: white;
}

.text-bold {
    font-weight: 500;
}

.text-muted {
    color: hsl(252, 15%, 65%);
}

.search-bar {
    background: hsl(252, 30%, 95%);
    border-radius: 2rem;
    padding: 0.6rem 1rem;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img {
    width: 35px;
    height: 30px;
}

/* main */
main {
    position: relative;
    top: 5.4rem;
}

main .container {
    /* display: grid;
    column-gap: 2rem;
    position: relative; */
}