/* start login page */
.form-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(252, 30%, 17%);
    background: hsl(252, 30%, 95%);
}

.form-container .wrapper {
    width: 380px;
    padding: 30px;
    background: hsl(252, 30%, 100%);
    border-radius: 1rem;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}

.form-container .wrapper h1 {
    font-size: 2rem;
    font-weight: bold;
    color: hsl(252, 75%, 60%);
    margin-bottom: 1rem;
    text-align: center;
}
.form-container .search-bar input {
    background: transparent;
    width: 100%;
    margin-left: 1rem;
    font-size: .9rem;
    color: hsl(252, 30%, 17%);
}
.form-container .wrapper .search-bar {
    margin-bottom: 1rem;
}

.form-container .wrapper .form label{
    padding-left: 16px;
    text-align: left;
}
.form-container button {
    display: flex;
    margin: auto;
    margin-bottom: 1rem;
}
.sign-txt {
    text-align: center;
}
.sign-txt a {
    color: hsl(252, 75%, 60%);
}

.text-bold {
    font-weight: 500;
}