.container {
    width: min(99%, 90.5rem);
    margin-inline: auto;
    min-height: 85%;
}

#cards-container {
    display: flex;
    flex-wrap:nowrap;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.85rem;
}

input[type="text"] {
    border: none;
    border-bottom: 2px solid hsl(252, 75%, 60%);
    font-size: 1em;
    background-color: transparent;
    width: 50%;
    margin: 24px 0px;
}

input[type="text"]:focus {
    border: none;
    border-bottom: 2px solid hsl(252, 75%, 60%);
    outline: none;
}

textarea {
    width: 50%;
    height: 150px;
    padding: 8px 16px;
}
#add-card > input[type="text"]::placeholder {
    color: hsl(252, 30%, 17%);
}

#add-card > input[type="text"]:focus {
    border: none;
    border-bottom: 2px solid hsl(252, 75%, 60%);
    outline: none;
}

div#add-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#add-card .btn-primary {
    background: hsl(252, 75%, 60%);
    color: white;
    margin-top: 24px;
    font-size: 18px;
    padding: 0;
    width: 150px;
    height: 50px;
}
.grid {
    display: grid;
    width: 114em;
    grid-gap: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: start;
}
.grid-item {
    background: #fff;
    border-radius: .4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: all .3s;
}
.grid-item:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem;
}
.card-img {
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.card-content{
    padding: 3rem;
}

.card-header {
    font-size: 3rem;
    font-weight: 500;
    color: hsl(252, 75%, 60%);
    margin-bottom: 1.5rem;
}

.card-text {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    color: black;
    margin-bottom: 2.5rem;
}

.card-btn {
    display: block;
    width: 100%;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: center;
    color: hsl(252, 75%, 60%);
    background: #fff;
    border: none;
    border-radius: 0.4rem;
    letter-spacing: 0.1rem;
}

.card-btn span {
    margin-left: 1rem;
    transition: .2s;
}

.card-btn:hover,
.card-btn:focus {
    background: #c2cffc;
}
.card-btn:hover span,
.card-btn:focus span {
    margin-left: 1.5rem;
}